

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-573947455603737451.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-573947455603737451.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-573947455603737451.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-573947455603737451.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-573947455603737451.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-573947455603737451.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-573947455603737451.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-573947455603737451.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-573947455603737451.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-573947455603737451.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-573947455603737451.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-573947455603737451.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-573947455603737451.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-573947455603737451.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-573947455603737451.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-573947455603737451.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-573947455603737451.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-573947455603737451.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-573947455603737451.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-573947455603737451.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-573947455603737451.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-573947455603737451.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-573947455603737451.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-573947455603737451.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-573947455603737451.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-573947455603737451.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-573947455603737451.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-573947455603737451.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-573947455603737451.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-573947455603737451.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-573947455603737451.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-573947455603737451.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-573947455603737451.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-573947455603737451.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-573947455603737451.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-573947455603737451.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-573947455603737451.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-573947455603737451.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-573947455603737451.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-573947455603737451.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-573947455603737451.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-573947455603737451.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-573947455603737451.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-573947455603737451.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-573947455603737451.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-573947455603737451.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-573947455603737451.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-573947455603737451.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-573947455603737451.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-573947455603737451.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-573947455603737451.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-573947455603737451.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-573947455603737451.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-573947455603737451.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-573947455603737451.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-573947455603737451.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-573947455603737451.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-573947455603737451.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-573947455603737451.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-573947455603737451.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-573947455603737451.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-573947455603737451.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-573947455603737451.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-573947455603737451.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-573947455603737451.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-573947455603737451.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-573947455603737451.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-573947455603737451.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-573947455603737451.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-573947455603737451 .gp-relative{position:relative}.gps-573947455603737451 .gp-z-1{z-index:1}.gps-573947455603737451 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-573947455603737451 .gp-mb-0{margin-bottom:0}.gps-573947455603737451 .\!gp-inline{display:inline!important}.gps-573947455603737451 .gp-flex{display:flex}.gps-573947455603737451 .gp-inline-flex{display:inline-flex}.gps-573947455603737451 .gp-grid{display:grid}.gps-573947455603737451 .\!gp-hidden{display:none!important}.gps-573947455603737451 .gp-hidden{display:none}.gps-573947455603737451 .gp-h-auto{height:auto}.gps-573947455603737451 .gp-h-full{height:100%}.gps-573947455603737451 .gp-w-full{width:100%}.gps-573947455603737451 .gp-max-w-full{max-width:100%}.gps-573947455603737451 .gp-flex-none{flex:none}.gps-573947455603737451 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-573947455603737451 .gp-flex-col{flex-direction:column}.gps-573947455603737451 .gp-items-center{align-items:center}.gps-573947455603737451 .gp-justify-center{justify-content:center}.gps-573947455603737451 .gp-gap-y-0{row-gap:0}.gps-573947455603737451 .gp-overflow-hidden{overflow:hidden}.gps-573947455603737451 .gp-break-words{overflow-wrap:break-word}.gps-573947455603737451 .gp-rounded-none{border-radius:0}.gps-573947455603737451 .gp-no-underline{text-decoration-line:none}.gps-573947455603737451 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573947455603737451 .gp-duration-200{transition-duration:.2s}.gps-573947455603737451 .gp-duration-300{transition-duration:.3s}.gps-573947455603737451 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573947455603737451 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-573947455603737451 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-573947455603737451 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-573947455603737451 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-573947455603737451 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-573947455603737451 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-573947455603737451 .tablet\:\!gp-hidden{display:none!important}.gps-573947455603737451 .tablet\:gp-hidden{display:none}.gps-573947455603737451 .tablet\:gp-h-auto{height:auto}.gps-573947455603737451 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-573947455603737451 .mobile\:\!gp-hidden{display:none!important}.gps-573947455603737451 .mobile\:gp-hidden{display:none}.gps-573947455603737451 .mobile\:gp-h-auto{height:auto}.gps-573947455603737451 .mobile\:gp-flex-none{flex:none}}.gps-573947455603737451 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-573947455603737451 .\[\&_p\]\:gp-inline p{display:inline}.gps-573947455603737451 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-573947455603737451 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-573947455603737451 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g-n53j5EX1" data-id="g-n53j5EX1"
        style="--blockPadding:base;--pt:60px;--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url({{ "gempages_573812146601723115-ef313ca2-af40-4d37-8eb6-c6a2d5e46bff.png" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-n53j5EX1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g2qiapt491 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gESn-DiLTz" data-id="gESn-DiLTz"
        style="--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gESn-DiLTz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqI_Hkz30P gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gQFOYwbEPK" data-id="gQFOYwbEPK"
        style="--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQFOYwbEPK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-qXiYvfQ8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7AP01dyVb">
    <div
      parentTag="Col"
        class="g7AP01dyVb "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Heraclito, 'Heraclito'), var(--g-font-heading, heading);--size:36px;--size-tablet:32px;--size-mobile:29px;--weight:bold;--c:rgb(37, 36, 36);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7AP01dyVb_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gxy_1_D08g" data-id="gxy_1_D08g"
        style="--mb:84px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxy_1_D08g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="grKw11uQnH gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gDJxpfOqX5"
    role="presentation"
    class="gp-group/image gDJxpfOqX5 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqrhkmvcnqe.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageqrhkmvcnqe.png" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMxIiBoZWlnaHQ9IjExNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTMxLTExNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTMxIiBoZWlnaHQ9IjExNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMxIiBoZWlnaHQ9IjExNCIgZmlsbD0idXJsKCNnLTEzMS0xMTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMzEiIHRvPSIxMzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="131" height="114" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--w:131px;--w-tablet:131px;--w-mobile:131px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwd4AynrRd">
    <div
      parentTag="Col"
        class="gwd4AynrRd "
        style="--ta:center;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Heraclito, 'Heraclito'), var(--g-font-heading, heading);--size:24px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgb(38, 37, 37);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwd4AynrRd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtu8qdwmLq">
    <div
      parentTag="Col"
        class="gtu8qdwmLq "
        style="--ta:center;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Heraclitowght, 'Heraclitowght'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(37, 36, 36);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtu8qdwmLq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g9zIveH6UV gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g-5rZ8K1T4"
    role="presentation"
    class="gp-group/image g-5rZ8K1T4 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagehoikmgtxyt.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagehoikmgtxyt.png" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMxIiBoZWlnaHQ9IjEwNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTMxLTEwNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTMxIiBoZWlnaHQ9IjEwNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMxIiBoZWlnaHQ9IjEwNiIgZmlsbD0idXJsKCNnLTEzMS0xMDYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMzEiIHRvPSIxMzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="131" height="106" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--w:131px;--w-tablet:131px;--w-mobile:131px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
       
      
    <div
      parentTag="Col" id="gvr7ip9tMV" data-id="gvr7ip9tMV"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvr7ip9tMV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2VaWqKDvi gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-BkRjg0lD">
    <div
      parentTag="Col"
        class="g-BkRjg0lD "
        style="--ta:center;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Heraclito, 'Heraclito'), var(--g-font-heading, heading);--size:24px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgb(38, 37, 37);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-BkRjg0lD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gP0dChpyHk">
    <div
      parentTag="Col"
        class="gP0dChpyHk "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Heraclito, 'Heraclito'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(38, 36, 37);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggP0dChpyHk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="giztUk5aWW gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g0pJGRBKyi"
    role="presentation"
    class="gp-group/image g0pJGRBKyi gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagecjszkjrcet.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagecjszkjrcet.png" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMxIiBoZWlnaHQ9IjEwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTMxLTEwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTMxIiBoZWlnaHQ9IjEwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMxIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNnLTEzMS0xMDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMzEiIHRvPSIxMzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="131" height="100" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
       
      
    <div
      parentTag="Col" id="gmT8IAZwPs" data-id="gmT8IAZwPs"
        style="--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmT8IAZwPs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKoU3OT6vA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gosUhyMrpo">
    <div
      parentTag="Col"
        class="gosUhyMrpo "
        style="--ta:center;--mt:0px;--ml:0px;--mb:19px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Heraclito, 'Heraclito'), var(--g-font-heading, heading);--size:25px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgb(37, 36, 37);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggosUhyMrpo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpP5xtSltF">
    <div
      parentTag="Col"
        class="gpP5xtSltF "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Heraclitowght, 'Heraclitowght'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(37, 37, 36);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpP5xtSltF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    
  >
    <style>
    .gYIP323_u0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gYIP323_u0:hover::before {
      
      
    }

    .gYIP323_u0:hover .gp-button-icon {
      color: undefined;
    }

     .gYIP323_u0 .gp-button-icon {
      color: rgb(255, 255, 255);
    }

    .gYIP323_u0:hover .gp-button-price {
      color: undefined;
    }

    .gYIP323_u0 .gp-button-price {
      color: rgb(255, 255, 255);
    }

    .gYIP323_u0 .gp-product-dot-price {
       color: rgb(255, 255, 255);
    }

    .gYIP323_u0:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gYIP323_u0" aria-label="Buy Now"
      
      data-state="idle"
      class="gYIP323_u0 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:rgb(38, 37, 37);--hvr-bg:#3e6d04;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--w:319px;--w-tablet:319px;--w-mobile:319px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:rgb(255, 255, 255);--size:19px;--size-tablet:18px;--size-mobile:16px;--ff:var(--g-font-Heraclito, 'Heraclito'), var(--g-font-heading, heading);--weight:400"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255)"
      >
        {{ section.settings.ggYIP323_u0_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-573947455603737451 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yh5pva-ve/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=573812340999324741&sectionId=573947455603737451)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7AP01dyVb_text","label":"gg7AP01dyVb_text","default":"One Sachet to<span style=\"color:#C9007B;\"> Rule Your Day</span>"},{"type":"html","id":"ggwd4AynrRd_text","label":"ggwd4AynrRd_text","default":"Rip"},{"type":"html","id":"ggtu8qdwmLq_text","label":"ggtu8qdwmLq_text","default":"<p>Open with intention<br>&nbsp;(or just rip it fast)</p>"},{"type":"html","id":"gg-BkRjg0lD_text","label":"gg-BkRjg0lD_text","default":"Mix"},{"type":"html","id":"ggP0dChpyHk_text","label":"ggP0dChpyHk_text","default":"<p>Stir into at least 700ml of water&nbsp;<br>and watch the magic happen</p>"},{"type":"html","id":"ggosUhyMrpo_text","label":"ggosUhyMrpo_text","default":"Enjoy"},{"type":"html","id":"ggpP5xtSltF_text","label":"ggpP5xtSltF_text","default":"<p>Best taken in the morning for<br>&nbsp;all-day energy and focus.</p>"},{"type":"html","id":"ggYIP323_u0_label","label":"ggYIP323_u0_label","default":"Buy Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
